@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}

td {
  padding: 4px;
}

.is-sticky {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  box-shadow: 0 2px 24px 0 rgb(0 0 0 / 15%);
  background-color: black !important;
  animation:  500ms ease-in-out;
  padding-top: 0px;
  padding-bottom: 0px;
}

.card-number {
  position: absolute;
  top: -10px;
  right: -10px;
  width: 20px;
  height: 20px;
  background-color: red;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slick-track {
  display: flex !important;
  gap: 12px
}

.description > ol {
  list-style: decimal !important;
  margin-bottom: 10px;
  margin-left: 10px;
}

.description > li {
  margin-bottom: 10px;
  margin-left: 10px;
}

.description > p {
  margin-bottom: 10px;
}

.active-pagination > a {
  cursor: default;
}
